ViewModels/Connected Services/CommandServiceReference/CommandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcf-trading.somee.com/CommandService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcf-trading.somee.com/CommandService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommandService_GetQueueCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueueCommand" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetQueueCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueueCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetStopCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStopCommand" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetStopCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStopCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetStopTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStopTask" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetStopTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStopTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetProduceCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceCommand" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetProduceCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProduceCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetConsumeCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumeCommand" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetConsumeCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumeCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetShell_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShell" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetShell_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShellResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommandService">
    <wsdl:operation name="GetQueueCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/GetQueueCommand" message="tns:ICommandService_GetQueueCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/GetQueueCommandResponse" message="tns:ICommandService_GetQueueCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStopCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/GetStopCommand" message="tns:ICommandService_GetStopCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/GetStopCommandResponse" message="tns:ICommandService_GetStopCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStopTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/GetStopTask" message="tns:ICommandService_GetStopTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/GetStopTaskResponse" message="tns:ICommandService_GetStopTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduceCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/GetProduceCommand" message="tns:ICommandService_GetProduceCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/GetProduceCommandResponse" message="tns:ICommandService_GetProduceCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumeCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/GetConsumeCommand" message="tns:ICommandService_GetConsumeCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/GetConsumeCommandResponse" message="tns:ICommandService_GetConsumeCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShell">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/GetShell" message="tns:ICommandService_GetShell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/GetShellResponse" message="tns:ICommandService_GetShell_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommandService" type="tns:ICommandService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQueueCommand">
      <soap:operation soapAction="http://tempuri.org/ICommandService/GetQueueCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStopCommand">
      <soap:operation soapAction="http://tempuri.org/ICommandService/GetStopCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStopTask">
      <soap:operation soapAction="http://tempuri.org/ICommandService/GetStopTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduceCommand">
      <soap:operation soapAction="http://tempuri.org/ICommandService/GetProduceCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumeCommand">
      <soap:operation soapAction="http://tempuri.org/ICommandService/GetConsumeCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShell">
      <soap:operation soapAction="http://tempuri.org/ICommandService/GetShell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommandService">
    <wsdl:port name="BasicHttpBinding_ICommandService" binding="tns:BasicHttpBinding_ICommandService">
      <soap:address location="http://wcf-trading.somee.com/CommandService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>