ViewModels/Connected Services/CommandServiceReference/CommandService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetQueueCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queueShell" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueueCommandResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queueShell" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStopCommandResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskShell" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStopTaskResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduceCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="produceShell" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="queueShell" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduceCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProduceCommandResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumeCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consumeShell" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="queueShell" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumeCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConsumeCommandResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statusExecutable" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetShellResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>