Test/Connected Services/ServiceReference1/Shape2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcf-trading.somee.com/Shape.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Data" />
  <xs:element name="GetCircle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCircleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Data" minOccurs="0" name="GetCircleResult" nillable="true" type="q1:Circle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>